body {
  width: 80%;
  margin: auto;
  font-family: 'Grandstander', cursive;
}

h1 {
  text-align: center;
}

.imgContainer {
  width: 120px;
}

.imgContainer img {
  width: 100%;
}

.itemDescription {
  padding-left: 15px;
}

.leftContainer,
.rightContainer {
  display: flex;
  align-items: center;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
  margin-top: 25px;
}

.isFavorite {
  width: 40px;
  height: 40px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg');
  background-size: 100%;
  align-self: flex-start;
}

.notFavorite {
  width: 40px;
  height: 40px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg');
  background-size: 100%;
  align-self: flex-start;
}
